{% extends "market/base.html" %}

{% block title %}
    Sell
{% endblock %}

{% block content %}
    {% if user.is_authenticated and user.username == car.owner.username %}
        <div class="container py-5">
            <h2 class="text-center">Are you sure?</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="is_deleted">
                    <label class="form-check-label" for="flexCheckDefault">
                        Yes.
                    </label>
                </div><br>
                <button class="btn btn-primary btn-lg btn-info" type="delete">Delete</button>
            </form>
        </div>
    {% else %}
        <p class="text-center">You are not authenticated. If you want to update your car, you need to <a href="{% url 'login' %}">login.</p>
    {% endif %}
{% endblock %}