{% extends 'market/base.html' %}

{% block title %}
    Arizona Market
{% endblock %}

{% block content %}
    {% for car in cars %}
        <br>
        <div class="row justify-content-md-center" style="margin: auto;">
            <div class="col-md-auto">
                <div class="card" style="width: 18rem; color: #353535;">
                    <div class="card-body">
                    <h5 class="card-title">{{ car.model }}</h5>
                    <p class="card-text">Владелец: {{ car.owner.name }} {{ car.owner.surname }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Пробег: {{ car.mileage }} км</li>
                    <li class="list-group-item">Сервер: {{ car.owner.server }}</li>
                    {% if car.twinturbo %}
                        <li class="list-group-item">TwinTurbo: есть</li>
                    {% else %}
                        <li class="list-group-item">TwinTurbo: нету</li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}