{% extends "market/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}     

<!--Register--> 
<div class="container py-5">
    <h2 class="text-center">Register</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" class="form-control" name="username">
        <small class="form-text text-muted">150 characters or fewer. Letters, digits and @/./+/-/_ only.</small><br><br>
        <input type="text" placeholder="Email" class="form-control" name="email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small><br><br>
        <input type="password" placeholder="Password" class="form-control" name="password1">
        <small class="form-text text-muted">
        Your password can’t be too similar to your other personal information.<br>
        Your password must contain at least 8 characters.<br>
        Your password can’t be a commonly used password.<br>
        Your password can’t be entirely numeric.<br>
        </small><br>
        <input type="password" placeholder="Repeat the password" class="form-control" name="password2"><br>
        <select class="form-select" name="server">
            <option value="Prescott">Prescott</option>
            <option value="Casa-Grande">Casa-Grande</option>
            <option value="Mesa">Mesa</option>
            <option value="Payson">Payson</option>
            <option value="Glendale">Glendale</option>
            <option value="Kingman">Kingman</option>
            <option value="Winslow">Winslow</option>
            <option value="Show Low">Show Low</option>
            <option value="Phoenix">Phoenix</option>
            <option value="Tucson">Tucson</option>
            <option value="Suprise">Surprise</option>
            <option value="Page">Page</option>
            <option value="Red-Rock">Red-Rock</option>
            <option value="Yuma">Yuma</option>
            <option value="Chandler">Chandler</option>
            <option value="Scottdale">Scottdale</option>
            <option value="Gilbert">Gilbert</option>
            <option value="Winslow">Winslow</option>
            <option value="Saint-Rose">Saint-Rose</option>
        </select>
        <br>
        <button class="btn btn-primary btn-lg btn-info" type="submit">Register</button>
    </form>
    <br>
    <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>

{% endblock %}